[Unit]
Description=Get temp, humid, and humiditydeficit data & Post to the monitor
After=rc-local.service

[Service]
WorkingDirectory=/home/ueda/fbidTokenSvr
ExecStart=/home/ueda/fbidTokenSvr/fbidTokenSvr
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/fbidTokenSvr.pid

[Install]
WantedBy=multi-user.target
